body {
    background-color: darkslategrey;
    color: whitesmoke;
    font-family: 'Helvetica Neue', 'Sans-Serif';
}

.root {
    background-color: darkslategrey;
    color: whitesmoke;
    font-family: 'Helvetica Neue', 'Sans-Serif';
}