body {
    background-color: #525e65;
    color: whitesmoke;
    font-family: 'Helvetica Neue', 'Sans-Serif';
}

.root {
    background-color: #525e65;
    color: whitesmoke;
    font-family: 'Helvetica Neue', 'Sans-Serif';
}

/* NAVIGATION BAR */

#site-nav {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    /* width: 100%; */
    /* min-width: 20rem; */
    /* z-index: 999; */
    background-color: #525e65;
    text-align: center;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}

#site-nav ul {
    margin: 0;
    list-style: none;
}

#site-nav li {
    display: inline-block;
    padding: 10px;
}

/* CONTACT */

.contact {
    display: inline-block;
}

/* GENERAL */
.right {
    text-align: right;
}